# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

* text=auto eol=lf

# Ignore all test and documentation with "export-ignore".
/.editorconfig          export-ignore
/.github                export-ignore
/.gitattributes         export-ignore
/.gitignore             export-ignore
/.idea                  export-ignore
/.phpunit.cache         export-ignore
/.vscode                export-ignore
/bin                    export-ignore
/build                  export-ignore
/CLAUDE.md              export-ignore
/lefthook.yml           export-ignore
/node_modules           export-ignore
/package.json           export-ignore
/package-lock.json      export-ignore
/phpstan-baseline.neon  export-ignore
/phpstan.neon.dist      export-ignore
/phpunit.xml.dist       export-ignore
/pint.json              export-ignore
/rector.php             export-ignore
/resources/css          export-ignore
/resources/js           export-ignore
/stubs                  export-ignore
/tests                  export-ignore
